<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>Inicie Sesión</h3>
      <form
        name="form"
        #form="ngForm"
        (ngSubmit)="form.form.valid && onSubmit()"
        novalidate
      >
        <!-- email input -->

        <div class="form-group mb-2">
          <label class="mb-2" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="model.email"
            #email="ngModel"
            required
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <!-- password input -->

        <div class="form-group mb-2">
          <label class="mb-2" for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="model.password"
            #password="ngModel"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Acceder</button>
        </div>
      </form>
    </div>
  </div>
</div>
